<div class="p-container">

  <div class="p-container__logo">
    <img
    src="assets/images/logo/spell-book-medium.png"
    alt="Agenda RPG Logo image"
    class="p-container__logo__img"/>
    <img
    src="assets/images/logo/agenda-rpg-text.svg"
    alt="Agenda RPG Logo text"
    class="p-container__logo__text"/>
  </div>

  <form class="p-container__form" [formGroup]="passwordForm">

    <mat-form-field class="p-container__form__input">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

    <mat-form-field class="p-container__form__input">
      <mat-label>Confirme a sua senha</mat-label>
      <input matInput formControlName="confirmPassword">
    </mat-form-field>

  </form>

  <div class="p-container__register-btn">
    <button mat-flat-button color="primary" (click)="showUserInfo()">
      Registrar
    </button>
  </div>

</div>
